
.body_container {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    color: #393E46;
    
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.body_sidebar {
    max-width: 260px;
    text-align: center;
}

.body_sidebar > h3 {
    padding: 0 100px;
}

.body_sidebar > hr {
    margin: 0 25px;
}

.body_sidebar > p {
    font-weight: 700;
}

.body_sidebar > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.body_content {
    padding: 0 40px;
}