

.body_container {
    display: flex;
}

.sidebar_container {
    max-width: 260px;
    background-color: #fff;
    color: #0A1931;
    
    margin: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content_container {
    background-color: #fff;
    color: #0A1931;
    margin: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.body_sidebar {
    text-align: center;
}

.body_sidebar > h3 {
    background-color: #185ADB;
    color: #fff;
    margin: 0;
    padding: 10px 40px;
    border-radius: 10px 10px 0 0; 
    border: none;
}

.body_sidebar > p {
    text-align: center;
    padding: 0 40px;
    font-weight: 700;
}

@media screen and (max-width: 620px) {
    .sidebar_container {
        display: none;
    }
}

.body_sidebar > hr {
    margin: 0 25px;
}

.body_sidebar > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.body_content > h3 {
    background-color: #185ADB;
}