
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer > p:hover {
    cursor: pointer;
    text-decoration: underline;
}